APP_NAME="LeadflowCore"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://DOMAIN
ASSET_URL="${APP_URL}"

ROOT_DOMAIN=https://DOMAIN.com
WEBINAR_APP_URL=https://webinar.DOMAIN
CRM_APP_URL=https://crm.DOMAIN

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

################################
# USERS
################################

STAGING_USER=
STAGING_PASSWORD=

SETUP_USER_NAME=
SETUP_USER_EMAIL=
SETUP_USER_PASSWORD=

################################
# LOGGING
################################

LOG_CHANNEL=errorlog
LOG_STACK=errorlog
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

################################
# DATABASE
################################

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

################################
# CACHE
################################

CACHE_STORE=redis
CACHE_PREFIX=laravel_cache

################################
# SESSIONS
################################

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=

################################
# QUEUES
################################

QUEUE_CONNECTION=redis
QUEUE_FAILED_DRIVER=database-uuids

################################
# REDIS
################################

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX=

################################
# BROADCASTING
################################

BROADCAST_CONNECTION=log

################################
# FILE STORAGE
################################

FILESYSTEM_DISK=spaces

DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_ENDPOINT=https://nyc3.digitaloceanspaces.com
DO_SPACES_REGION=nyc3
DO_SPACES_BUCKET=
CDN_URL=

################################
# EMAIL
################################

MAIL_MAILER=resend
MAIL_HOST=api.resend.com
MAIL_PORT=443
MAIL_SCHEME=https
MAIL_USERNAME=resend
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

RESEND_API_KEY=

################################
# SMS
################################

TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=

TWILIO_VIRTUAL_PHONE=

################################
# WEBINARS
################################

ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_WEBHOOK_SECRET=

ZOOM_BASE_URL=https://api.zoom.us/v2
ZOOM_OAUTH_URL=https://zoom.us/oauth/token
ZOOM_OAUTH_TOKEN_CACHE_KEY=zoom_access_token
ZOOM_OAUTH_TOKEN_TTL_SECONDS=3500

################################
# HORIZON
################################

HORIZON_PREFIX=horizon

################################
# FRONTEND
################################

VITE_APP_NAME="${APP_NAME}"

################################
# SCHEDULING TEST
################################

WEBINAR_REMINDER_TESTING=false